<!DOCTYPE html>
<html>

<head>
  <title>BugBlog</title>
</head>

<body>
  <b>
    <h1>New Bug facts every week!</h1>
  </b>
  <br>
  <h2>Welcome to my blog here you can look every week to see great new facts on your favourite creepy critters!</h2>
  <div>
    <hr>

    <h2><a href="">Hummingbirds</a></h2>
    <p>Although they are not bugs they are still really interesting!</p>
    <b>
      <p>published: 14.06.2014, 12:14</p>
    </b>
  </div>

  <div>

    <h2><a href="">Ants</a></h2>
    <p> Ants are really light right!</p>
    <b>
      <p>published: 14.06.2014, 12:14</p>
    </b>
  </div>



</body>

</html>
