<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>BugBlog</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  <b>
    <h1>New Bug facts every week!</h1>
  </b>
  <br>
  <h2>Welcome to my blog here you can look every week to see great new facts on your favourite creepy critters!</h2>
  {% for post in posts %}
  <div>
    <p>published: {{ post.published_date }}</p>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}
</body>

</html>
